<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android_photos_51">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Photos_51">
        <activity
            android:name=".AlbumContent"
            android:exported="false"
            android:label="@string/title_activity_album_content"
            android:theme="@style/Theme.Android_Photos_51.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android_photos_51.ModifyPhotos" />
        </activity>
        <activity
            android:name=".ModifyPhotos"
            android:exported="false"
            android:label="@string/title_activity_modify_photos"
            android:theme="@style/Theme.Android_Photos_51.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android_photos_51.Photos" />
        </activity>
        <activity
            android:name=".Photos"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SlideShow"
            android:label="@string/title_activity_slideshow"
            android:theme="@style/Theme.Android_Photos_51.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android_photos_51.Photos" />
        </activity>

        <activity
        android:name=".Tag"
        android:label="@string/title_activity_newtag"
        android:theme="@style/Theme.Android_Photos_51.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.android_photos_51.Photos" />
    </activity>

    </application>

</manifest>